# Movies Tonight Part 4: A few SELECT queries 
__Use `%%sql` magic to write the queries listed below.__

In [1]:
# load %sql magic extension
%load_ext sql

# initialize a database connection; may have to adjust username and password 
%sql sqlite:///Movies.db

'Connected: @Movies.db'

**1. Write a select query that returns the MovieTitle, TheaterName, and Showtime for each movie showing.**  
The query should use `JOIN` syntax as described in your textbook. Also, use aliases ( `… AS …` ) to make sure that column names match exactly what is asked for.

In [2]:
%%sql
SELECT MTitle as MovieTitle , TName as TheaterName, STime as Showtime    
FROM Movies
    JOIN Show ON (Movies.MID = Show.MID)
    JOIN Theater ON (Show.TID = Theater.TID);

 * sqlite:///Movies.db
(sqlite3.OperationalError) no such table: Show [SQL: 'SELECT MTitle as MovieTitle , TName as TheaterName, STime as Showtime    \nFROM Movies\n    JOIN Show ON (Movies.MID = Show.MID)\n    JOIN Theater ON (Show.TID = Theater.TID);'] (Background on this error at: http://sqlalche.me/e/e3q8)

**2. Write a select query to display the MovieTitle, TheaterName, and Showtime for each show after 7pm.** You can start with a copy of the previous query and then add a `WHERE` clause.

In [3]:
%sql
SELECT MTitle, TName, STime
FROM DATABASE
WHERE STime > 19:00

SyntaxError: invalid syntax (<ipython-input-3-4dcb2b3a382d>, line 2)

**3. Write a select query to display the cast (actors only) of each movie.** The query should return the Movie Title, Actor Name, MID, and AID.

**4. Write a select query to display the number of distinct movies that each actor appears in.** The query should return the ActorName, MovieCount, and AID. You will need to use use a GROUP BY clause and the COUNT() function.

**5. Write a select query to display only the actors that appear in multiple movies.** The query should return the Actor Name, Movie Count, and AID. You can use the previous select query as a starting point. You will need to add a HAVING clause to do the restriction.

**6. Write a select query to display directors that also act in their movies.** The query should return the ArtistName, NumDirectorCredits, NumActorCredits, NumDirectorActorCredits. Each count should be calculated separately using a subquery. Note: NumDirectorActorCredits should be greater than 0.